[Desktop Entry]
Type=Application
Name=HyperX Cloud Alpha
Comment=HyperX Cloud Alpha Wireless headset manager
Exec=/usr/bin/Hyperx --systray
Icon=/usr/share/hyperx/img/hyperx.png
Terminal=false
Categories=Audio;HardwareSettings;
StartupNotify=false
X-GNOME-Autostart-enabled=true
